# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

ABETProcessor/x64/Debug/qmake/temp/

ABETProcessor/x64/Debug/qmake/qtvars_x64_Debug.props

ABETProcessor/x64/Debug/

ABETProcessor/x64/Release/qmake/temp/

ABETProcessor/x64/Release/

build-ABETProcess-Desktop_Qt_5_15_2_GCC_64bit-Debug/

.vs/ABETProcessor/v17/

.vs/ABETProcessor/FileContentIndex/

x64/Debug/

.vs/ABETProcessor/CopilotIndices/17.12.53.23981/
